.toolbar {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px gray;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}
.logo .firstCol {
  color: #707070;
}
.logo .secondCol {
  color: #32e1d0;
}
