.wrapper {
  width: 780px;
  height: 150px;
  border: solid 1px #b1b1b1;
  border-radius: 25px;
  margin: 2.5rem auto;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
